:root {
	--dark-blue: #1a1a2e;
	--faded-white: rgba(255, 255, 255, 0.15);
	--red: #f07470;
	--yellow: #fec260;
	--green: #4e9f3d;
	--off-white: #f2edd7;

	--toastify-color-light: var(--off-white);
	--toastify-color-dark: var(--dark-blue);

	--toastify-color-info: #3498db;
	--toastify-color-success: var(--green);
	--toastify-color-warning: var(--yellow);
	--toastify-color-error: var(--red);

	--toastify-text-color-light: var(--dark-blue);
	--toastify-text-color-dark: var(--off-white);
	--toastify-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--dark-blue);
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	color: var(--off-white);
}

input {
	border: 1px solid var(--faded-white);
	background-color: var(--faded-white);
}
